@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Simple post and get examples", "Index", "PostGet")</p>
<p>@Html.ActionLink("Form example with a model and a partial view", "Index", "Form")</p>
