body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
}

header, footer, nav, section, #body {
    display: block;
}

header {
    padding: 4em 0;
    background-color: #333;
}
    header a {
        font-size: 3em;
        color: #fff;
        text-decoration: none;
    }
        header a:hover {
            color: #9ae5ea;
        }

.content-wrapper {
    width: 70%;
    margin: 0 15%;
}

#body {
    margin: 4em 0;
}

footer {
    padding: 2em 0;
    background-color: #efefef;
}

.clear {
    clear: both;
}
.column-50 {
    float: left;
    width: 50%;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
